fastapi==0.125.0
fastapi-analytics==1.2.5
fastapi-cli==0.0.16
fastapi-cloud-cli==0.7.0
Jinja2==3.1.6
numpy==2.3.5
pandas==2.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.21
requests==2.32.5
SQLAlchemy==2.0.45
starlette==0.50.0
uvicorn==0.38.0
vobject==0.9.9